@model TelephoneDll.Telephone

<tr>
    <td>
        @Html.DisplayFor(item => item.id)
    </td>
    <td>
        @Html.DisplayFor(item => item.surname)
    </td>
    <td>
        @Html.DisplayFor(item => item.number)
    </td>
</tr>


